@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* colores opcionales 
  --primer-color: #60696b;
	--segundo-color: #858e96;

	--tercer-color: #08203e;
	--cuarto-color: #557c93; */
	--primer-color: #0e1c26;
	--segundo-color: #2a454b;
	--tercer-color: #294861;

	/* --primer-color-text: #49585a; */
	--primer-color-text: #808080;

	--primer-color-btn-1: #4a9b7f;
	--segundo-color-btn-1: #0a3431;
}

/* Tones
Created by adding grey to a base color, making it lighter. Shades appear more complex than the base color.

--tones-primer-color:#253038;
--tones-primer-color:#3c444a;
--tones-primer-color:#52585c;
--tones-primer-color:#696c6e;
--tones-primer-color:#808080;
*/

/* Shades
Created by adding black to the base color, making it darker. The shades look richer.
--shades--primer-color:#0e1c26;
--shades--primer-color:#0b161e;
--shades--primer-color:#081117;
--shades--primer-color:#060b0f;
--shades--primer-color:#030608;
--shades--primer-color:#000000;

 */

body {
	/* background: linear-gradient(
		90deg,
		var(--primer-color) 10%,
		var(--segundo-color) 50%,
		var(--tercer-color) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		var(--primer-color) 10%,
		var(--segundo-color) 50%,
		var(--tercer-color) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		var(--primer-color) 10%,
		var(--segundo-color) 50%,
		var(--tercer-color) 100%
	); */

	/* background: var(--primer-color); */
	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E1C26", endColorstr="#2A454B", GradientType=1 );
}

.primer-boton {
	background: var(--primer-color-btn-1);

	background: linear-gradient(
		90deg,
		var(--primer-color-btn-1) 0%,
		var(--segundo-color-btn-1) 100%
	);

	background: -moz-linear-gradient(
		90deg,
		hsla(159, 35%, 45%, 1) 0%,
		hsla(176, 68%, 12%, 1) 100%
	);

	background: -webkit-linear-gradient(
		90deg,
		hsla(159, 35%, 45%, 1) 0%,
		hsla(176, 68%, 12%, 1) 100%
	);

	filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4A9B7F", endColorstr="#0A3431", GradientType=1 );
}

h1 {
	color: var(--primer-color-text);
}
